<!DOCTYPE html>
{%load static%}
<html>
<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">   
<link rel="stylesheet" type="text/css"href="{%static 'css/style.css'%}">   
<title>Alek Naobi Belandres</title>
</head>

<body>
    
    <nav class="navbar"> 
        <li class="navbar-Folio"><a style="font-style:italic ;">Folio</a></li> 
        <ul class="navbar-menu"> 
            <li class="navbar-item"><a href="#home">Home</a></li> 
            <li class="navbar-item"><a href="#about">About</a></li> 
            <li class="navbar-item"><a href="#services">Services</a></li>
            <li class="navbar-item"><a href="#contact">Contact</a></li>
        </ul> 
    </nav>
 
        <section id="home" class="homepage">    
            <div class="rounded-div">
                <br>
                <br>
                <br>
                <br>
                <img src="{%static 'media/alek_pic.jpg'%}" alt=""  class="rounded-div">
            </div>
            <br>
            <br>
            <br>
            <br> 
            

            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <p><h2>I'M  </h2>
                        <h1 class="name"> ALEK NAOBI BELANDRES</h1></p>
                           
                            
                            

                    </div> 

                    <div class="back">
                        <h1>A Website Developer</h1>
                    </div>
                </div>
            </div>
        
        </section>  

        <section id="about"class="about">
            <br>
            <br>
            <br>
            <br>
            <h1 class="top">about</h1>
            
            <div class="box">
                <h2>I'm from Philippines, i am a developer who is still learning new things about developing websites and learning other coding languages that would be useful for my future projects.</h2>

            </div>   
        </section>  

        <section id="services"class="services">
            <br>
            <br>
            <br>
            <br>
            <h1 class="top">services</h1>
            <div class="box">
                <h1 style="color: antiquewhite;">As a developer, i needed to learn many programming languages to develope a website, but as for now, these are the only languages that i can use. </h1>
                <div class = "inbox">
                    <img src="{%static 'media/HtmlLOGO.png'%}" alt=""  class="rounded-div">
                    <img src="{%static 'media/pythonLOGO.png'%}" alt=""  class="rounded-div">
                    <img src="{%static 'media/jsLOGO.JPG'%}" alt=""  class="rounded-div">
                </div>
            </div>   
        </section>

        <section id="contact"class="contact">
            <br>
            <br>
            <br>
            <br>
            <h1 class="top">contact</h1>
            <div class="box">
                <h1 style="color: antiquewhite;">You can contact me through, facebook and gmail. </h1>
                <br>
                <br>
                <br>
                <h1 style="color: antiquewhite;">Facebook: Alek Naobi Belandres</h1>
                <h1 style="color: antiquewhite;">Gmail: aleknaobibelandres@gmail.com</h1>
                

            </div>
        </section>    
</body>
</html>